@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font1{
    font-family: 'Bebas Neue', cursive;
}

.font2{
    font-family: 'Press Start 2P', cursive;
}

.facebook1{
    background-color: #1877f2;
}

.github1{
    background-color: #161b22;;
}

.rojo{
    color: red;
}